@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src:
    url("/fonts/Helvetica.ttf")
    format("truetype")
}

@font-face {
  font-family: "Helvetica Bold";
  src:
    url("/fonts/Helvetica-Bold.ttf")
    format("truetype")
}

@font-face {
  font-family: "Monserrat Bold";
  src:
    url("/fonts/Montserrat-Bold.ttf")
    format("truetype")
}

@font-face {
  font-family: "Outfit";
  src:
    url("/fonts/Outfit-Light.ttf")
    format("truetype")
}

@font-face {
  font-family: "Outfit Bold";
  src:
    url("/fonts/Outfit-SemiBold.ttf")
    format("truetype")
}

@font-face {
  font-family: "Lato Regular";
  src:
    url("/fonts/Lato-Regular.ttf")
    format("truetype")
}

@font-face {
  font-family: "Lato Black";
  src:
    url("/fonts/Lato-Black.ttf")
    format("truetype")
}

.font-lato {
  font-family: "Lato Regular"
}

.font-latob {
  font-family: "Lato Black"
}

.font-h {
  font-family: "Helvetica";
}

.font-o {
  font-family: "Outfit";
}

.font-ob {
  font-family: "Outfit Bold";
}

.font-hb {
  font-family: "Helvetica Bold";
}

.font-mb {
  font-family: "Monserrat Bold";
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding-bottom: env(safe-area-inset-bottom);
}

.navbar {
  background-color: white;
}

.main {
  height: 100vh;
  overflow-y: hidden;
}

li {
  list-style-type: circle;
}

.main-image {
  opacity: 95%;
}

.main-logo {
  transition: all 0.4s ease-in-out;
}

.main-logo:hover {
  transform: scale(1.05);
}

.arrow-down {
  transition: all 0.3s ease;
}

.arrow-down:hover{
  transform: scale(1.1);
}

.product {
  transition: all 0.3s ease;
}

.product:hover {
  transform: scale(1.1)
}